@import '@fontsource/press-start-2p';

@tailwind base;

/* Set custom cursors for the entire page */
html {
	cursor: url('cursor.png'), auto;
}

a:hover,
button:hover,
input:hover {
	cursor:
		url('cursor-click.png') 14 0,
		auto;
}

@tailwind components;
@tailwind utilities;
